.form {
    width: 40rem;
    max-width: 90%;
    padding: 3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    background-color: #fff;
    animation: up 1s forwards;
}
.login-failed {
    color: #c21e57;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}
.another-actions {
    font-size: 1.4rem;
    margin-top: 1rem;
    text-align: right;
    color: #333;
}
a {
    color: #c21e57;
}
@media only screen and (max-width: 768px) {
    .form {
        padding: 1.5rem;
    }
}

@keyframes up {
    0% {
        transform: translateY(3rem);
    }
    100% {
        transform: translateY(0);
    }
}
