.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    height: 9rem;
    background-color: #c21e57;
    color: #fff;
}

.header h2 {
    font-size: 3rem;
}
.header ul {
    display: flex;
    align-items: center;
    list-style: none;
}
@media only screen and (max-width: 768px) {
    .header {
        padding: 0 3rem;
    }
    .header h2 {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 450px) {
    .header {
        padding: 0 1.5rem;
    }
}
.header li {
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}
@media only screen and (max-width: 450px) {
    .header li {
        margin-left: 1rem;
    }
}
.header a {
    display: block;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s;
}
.header a:hover {
    opacity: 0.8;
    text-decoration: underline;
}
.register a {
    background: white;
    color: #c21e57;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
}
.header .active {
    text-decoration: underline;
}
